/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 62.5%;
	font: inherit;
	vertical-align: baseline;
    box-sizing: border-box;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

*, *:before, *:after {
    box-sizing: inherit;
}
  

:root {
    --primary: #009688;
    --primary-dark: #00675B;
    --primary-light: #52C7B8;
    --secondary: #B9F6CA;
    --delete: #FC6D40;
}

/* typography */

html {
    font-family: 'Open Sans', sans-serif;
    font-size: 1rem;
}

.logo {
    font-weight: 700;
    font-size: 1.8rem;
    margin-bottom: .25em;
}

.card__header {
    font-weight: 700;
}

.card__text {
    padding-left: 1em;
}

/* layout & styling */

.container {
    width: 90%;
    margin: 0 auto;
    max-width: 1200px;
    margin: 0 auto;
}

.header {
    padding: 1em 0;
    background-color: var(--primary);
    color: #fff;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    border-bottom: 15px solid var(--primary-dark);
}

.navbar {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    background-color: var(--primary-dark);
    padding: 1em;
    display: flex;
    justify-content: flex-end;
}

.add-book {
    border: none;
    background: none;
    cursor: pointer;
}

.cards {
    padding: 6.5em 0;
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(16rem, 1fr));
    grid-gap: 1em;
}

.card {
    padding: 1em;
    border-radius: 5px;
    box-shadow: 5px 5px 0px #00675B;
    background: rgb(240,240,240);
    background: linear-gradient(135deg, rgba(245,245,245,1) 0%, rgba(203,203,203,1) 100%);

    display: grid;
    grid-gap: .50em;
    grid-template-columns: repeat(8, 1fr);
    grid-template-rows: auto;
}

.card__header {
    grid-column: 1/2;
}

.card__input {
    grid-column: 2/9;
}

.card__delete {
    border: none;
    background-color: var(--delete);
    border-radius: 5px;
    display: inline-grid;
    place-items: center;
    padding: .25em;
    cursor: pointer;

    grid-column: 8/9;
}

.modal {
    display: none;
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgb(0, 0, 0);
    background-color: rgba(0, 0, 0, 0.5);
}

.modal__content {
    width: 100%;
    height: 100%;
    background-color: #fff;
}

.modal__header {
    background-color: var(--primary);
    color: #fff;
    font-weight: 700;
    font-size: 1.4rem;
    padding: 1em;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 15px solid var(--primary-dark);
}

.modal__close {
    font-size: 1.8rem;
    cursor: pointer;
    color: rgba(245,245,245,.6);
}

.modal__form {
    padding: 1em;
}

label {
    font-size: 1.2rem;
}

input {
    display: block;
    width: 100%;
    border: none;
    border-bottom: 3px solid var(--primary-dark);
    padding: 1em 1em .25em 0;
    margin: 1em 0 2em 0;
}

.book__status {
    display: block;
    margin: 0 auto;
}

.modal__submit {
    display: block;
    width: 100%;
    border: none;
    background-color: var(--primary-dark);
    color: #fff;
    padding: .5em;
    font-weight: 700;
    font-size: 1.2rem;
    margin-top: 2em;
    cursor: pointer;
}